# Ignore Gradle project-specific cache directory
.gradle
gradle/
bin/
.classpath
.project
.settings/
.vscode/
gradlew
gradlew.bat
# Ignore Gradle build output directory
build
src/main/resources/secret
